In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [7]:
df_train = pd.read_csv('./train_set.csv')
df_test = pd.read_csv('./test_set.csv')

In [3]:
df_train.head(2)

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3

In [4]:
df_train.drop(columns=['id', 'article'], inplace = True)
df_test.drop(columns=['article'], inplace = True)

In [5]:
vectorizer = CountVectorizer(ngram_range=(1, 2), min_df=3, max_df=0.9, max_features=100000)
vectorizer.fit(df_train['word_seg'])
x_train = vectorizer.transform(df_train['word_seg'])
x_test = vectorizer.transform(df_test['word_seg'])

In [6]:
del df_train

In [8]:
y_train = df_train['class']-1

In [11]:
lg = LogisticRegression(C=4, dual=True)
lg.fit(x_train, y_train)

LogisticRegression(C=4, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
y_test = lg.predict(x_test)

In [13]:
df_test['class'] = y_test.tolist()
df_test.head(2)

,id,article,word_seg,class
0,0,7368 146447 316564 42610 55736 297797 93042 53...,816903 565958 726082 764656 335008 75094 20282...,4
1,1,985531 473628 1044285 1121849 206763 462208 11...,729468 520477 529032 101368 335130 520477 1113...,3

In [14]:
df_test['class'] = df_test['class'] + 1
df_test.head(2)

,id,article,word_seg,class
0,0,7368 146447 316564 42610 55736 297797 93042 53...,816903 565958 726082 764656 335008 75094 20282...,5
1,1,985531 473628 1044285 1121849 206763 462208 11...,729468 520477 529032 101368 335130 520477 1113...,4

In [15]:
df_test.describe()

                  id          class
count  102277.000000  102277.000000
mean    51138.000000      10.301221
std     29524.971078       5.348398
min         0.000000       1.000000
25%     25569.000000       6.000000
50%     51138.000000      10.000000
75%     76707.000000      15.000000
max    102276.000000      19.000000

In [16]:
df_result = df_test.loc[:, ['id', 'class']]

In [17]:
df_result.to_csv('./result.csv', index=False)